<h2 class="title">Choisissez votre hébergement</h2>

<div class="hebergement-container">
  <div *ngFor="let hebergement of hebergements" class="hebergement-card">
    <h3>{{ hebergement.nom }}</h3>
    <p>{{ hebergement.description }}</p>
    <p><strong>Prix :</strong> {{ hebergement.prixParNuit }} MAD/nuit</p>
    <p><strong>Adresse :</strong> {{ hebergement.adresse }}</p>

    <button (click)="choisirHebergement(hebergement.id)" class="btn-choisir">
      Choisir
    </button>
  </div>
</div>
