/* Style général du formulaire */
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .checkbox-group label {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
/* Style des labels */
label {
    font-weight: bold;
    margin-top: 10px;
}

/* Style des inputs et textarea */
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Ajustement pour les checkboxes */
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

/* Style du bouton */
button {
    margin-top: 15px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

/* Style pour l'aperçu de l'image */
img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
}
