
<header class="th-header header-layout1">


  <div class="sticky-wrapper">
      <!-- Main Menu Area -->
      <div class="menu-area">
          <div class="container th-container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-auto">
                      <div class="header-logo">
                          <a href="login"><img src="assets/img/logo.svg" alt="Tourm"></a>
                      </div>
                  </div>
                  <div class="col-auto me-xl-auto">
                      <nav class="main-menu d-none d-xl-inline-block">
                          <ul>
                              <li class="menu-item-has-children">
                                  <a class="active" href="login">Home</a>

                              </li>
                              <li><a href="about">About</a></li>
                              <li class="menu-item-has-children">
                                  <a href="#">Destination</a>
                                  <ul class="sub-menu">
                                      <li><a href="loginUser">Destination</a></li>

                                  </ul>
                              </li>
                              <li class="menu-item-has-children">
                                  <a href="login">Service</a>

                              </li>
                              <li class="menu-item-has-children">
                                  <a href="#">Activities</a>

                              </li>
                              <li class="menu-item-has-children">
                                  <a href="#">Pages</a>
                                  <ul class="sub-menu">
                                      <li class="menu-item-has-children">
                                          <a href="#">Shop</a>

                                      </li>


                                  </ul>

                              </li>
                              <li class="menu-item-has-children">
                                  <a href="#">Blog</a>

                              </li>

                          </ul>
                      </nav>
                      <button type="button" class="th-menu-toggle d-block d-xl-none"><i class="far fa-bars"></i></button>
                  </div>

              </div>
          </div>
          <div class="logo-bg" data-mask-src="assets/img/logo_bg_mask.png"></div>
      </div>
  </div>
</header>






<h1>Bienvenue dans l'application de planification de voyage</h1>

<button (click)="ajouterRestaurant()" style="margin-bottom: 10px; background-color: green; color: white; padding: 10px; border: none; cursor: pointer;">
  Ajouter un Restaurant
</button>

<div *ngIf="restaurants.length > 0; else noRestaurants">
  <table border="1" cellspacing="0" cellpadding="10">
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let restaurant of restaurants">
      <td>{{ restaurant.nom }}</td>
      <td>{{ restaurant.adresse }}</td>
      <td>
        <button (click)="modifierRestaurant(restaurant.id)">Modifier</button>
        <button (click)="supprimerRestaurant(restaurant.id)">Supprimer</button>
      </td>
    </tr>
  </table>
</div>

<ng-template #noRestaurants>
  <p>Aucun restaurant disponible.</p>
</ng-template>
