<h2 class="title">Activités disponibles</h2>

<div class="activites-container">
  <div *ngFor="let activite of activites" class="activite-card">
    <h3>{{ activite.nom }}</h3>
    <p>{{ activite.description }}</p>
    <p><strong>Durée :</strong> {{ activite.duree }} heures</p>
    <p><strong>Prix :</strong> {{ activite.prix }} MAD</p>

    <button (click)="choisirActivite(activite.id)" class="btn-choisir">
      Choisir cette activité
    </button>
    <button (click)="choisirTransport()" class="btn">
      Choisir un transport
    </button>
  </div>
</div>
